name: Build and deploy

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]'

jobs:
  cancel-previous:
    name: 'Cancel Previous Runs'
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@0.9.0
        with:
          access_token: ${{ github.token }}

  install-build-and-push:
    runs-on: ubuntu-latest
    needs: cancel-previous
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - uses: actions/setup-node@v2-beta
      with:
        node-version: '14'

    - name: Check dependency versions
      run: node common/scripts/install-run-rush.js check

    - name: Install application
      run: |
        node common/scripts/install-run-rush.js update

    - name: Build application
      run: node common/scripts/install-run-rush.js rebuild --verbose

    - name: Build containers
      run: node common/scripts/install-run-rush.js build:container --verbose

    - name: Get the tag version
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}
        
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
      
    - name: Build & push docker images
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        IMAGE_TAG: ${{ steps.get_version.outputs.VERSION }}
      run: |
        docker tag energyweb/dsb-message-broker:canary $ECR_REGISTRY/${{ secrets.ECR_REPOSITORY }}:$IMAGE_TAG 
        docker push $ECR_REGISTRY/${{ secrets.ECR_REPOSITORY }}:$IMAGE_TAG 
    
    - name: Logout of Amazon ECR
      if: always()
      run: docker logout ${{ steps.login-ecr.outputs.registry }}
